@model ECommerceApplication.Models.ShippingAddress

<link rel="stylesheet" href="~/css/CatelogStyle.css" />

<div class="data">
    <h1>ADD NEW ADDRESS</h1>
    <form asp-action="AddAddress" asp-controller="CustomerAddress" method="post">
        <table>
            <input type="hidden" asp-for="AddressId" />
            <tr>
                <td>Address:</td>
                <td><input type="text" name="address"  required /></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" name="city"  required /></td>
            </tr>

            <tr>
                <td>State:</td>
                <td><input type="text" name="state"  required /></td>
            </tr>
            <tr>
                <td>Zip Code:</td>
                <td><input type="text" name="zipCode"  required /></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input type="text" name="country" required /></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" class="submitButton" value="Add" /></td>
            </tr>
        </table>
    </form>
</div>