@model ECommerceApplication.Models.Item 

<link rel="stylesheet" href="~/css/CatelogStyle.css" />

<div class="data">
    <h1>ADD TO CART</h1>
    <form action="/ShoppingCart/Update/" method="post">
        <table>
            <tr>
                <td>Product Id:</td>
                <td><input type="text" name="id" placeholder="Product id" value="@Model.product.ProductId" readonly /></td>
            </tr>
            <tr>
                <td>Product Title:</td>
                <td><input type="text" name="title" placeholder="Product Title" value="@Model.product.ProductTitle"
                        readonly />
                </td>
            </tr>
            <tr>
                <td>Product Image:</td>
                <td><input type="text" name="img" placeholder="Product Image" value="@Model.product.ProductImage"
                        readonly />
                </td>
            </tr>

            <tr>
                <td>UnitPrice:</td>
                <td><input type="text" name="unitprice" placeholder="Product unitprice" value="@Model.product.UnitPrice"
                        readonly /></td>
            </tr>


            <tr>
                <td>Quantity:</td>
                <td><input type="text" name="quantity" placeholder="Product quantity" /></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" class="submitButton" name="btn" value=" Update " /></td>
            </tr>
        </table>
    </form>
</div>